{% extends 'autenticacion/base.html' %}

{% block content %}
<div class="container">
  <header>
    <h2>Opciones del proceso de conciliación </h2>
    <nav>
      <ul>
        <li><a href="{% url 'dashboard' %}">Home</a></li>
        <li><a href="{% url 'crear_cuenta' %}">Crear Cuenta</a></li>
        <li><a href="{% url 'crear_transaccion' %}">Crear Transacción</a></li>
        <li><a href="{% url 'cargar_archivos' %}">Cargar Archivos Excel</a></li>
        <li><a href="{% url 'mostrar_movimientos' %}">Mostrar Movimientos</a></li>
        <li><a href="{% url 'conciliar' %}">Conciliar Movimientos</a></li>
      </ul>
    </nav>
  </header>
</div>
{% endblock %}
